<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/top.css">
    <title>TOP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nixie+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
</head>
<body>
    <div class="page1" id="page1">
    <img src="/images/publicdomainq-0053249agt.jpg" alt="" id="page1img">
     <div id="search"><span id="typewrite"></span><button onclick="hiden()">Search</button></div>
     <h1 id="teach">I'll teach you</h1>
     <i class="fas fa-chevron-down" id="arrow"></i>
    </div>

    <div class="page2 afterPage">
        <h1>PROFILE</h1>
        <div class="icon">
            <p id="maybe">←Maybe he is...?</p>
            <p id="name">Kenji Iwasaki</p>
        </div>

        <div class="text">
            <p id="mobileName">Kenji Iwasaki</p>
            <p>Life:1994/09/27-</p>
            <p>Programming:2021/04/20-</p>
        </div>

        <h2 id="skillh2">SKILL</h2>

        <div class="skill" id="skill">
            <div id="js" class="js"><span>J</span><span>a</span><span>v</span><span>a</span> <span>S</span><span>c</span><span>r</span><span>i</span><span>p</span><span>t</span></div>
            <div id="jqueryDiv"><span id="exMark">!</span><span id="jquery">jQuery</span></div>
            <div id="node"><span id="nodeSpan">node.js</span> <span id="wave1"><i class="fas fa-broadcast-tower"></i></span></div>
            <div id="php"><span id="phpSpan">PHP</span> <span id="wave2"><i class="fas fa-broadcast-tower"></i></span></div>
            <div id="gitDiv"><span id="git">Git</span> <span id="push">PUSH</span> <span id="pull">PULL</span></div>
        </div>
    </div>

    <div class="page3 afterPage">
        <h1>WORKS</h1>
        <div class="work">
            <div id="rtable" class="works">
               <a href="https://round-table-sns.herokuapp.com/">
                  <h2>ROUND TABLE</h2>
                  <img src="/images/rtable.png" alt="">
              </a>
            </div>
              <div id="rtablePHP" class="works">
                <a href="https://rtable-php.herokuapp.com/">
                <h2>RTABLE PHPver</h2>
                <img src="/images/rtablePHP.png" alt="">
                </a>
              </div>
              <div id="unknown2" class="works">
                <h2>soon</h2>
                <img src="" alt="">
              </div>
        </div>
    </div>

    <div class="page4 afterPage">
        <h1>CONTACT</h1>
        <div class="info">
            <a href="mailto:iwasaki.web7110@gmail.com"><i class="fas fa-envelope"></i></a>
          <p id="email">iwasaki.web7110@gmail.com</p>
          <a href="https://twitter.com/tunanikan"><i class="fab fa-twitter-square"></i></a>
          <p>@tunanikan</p>
        </div>
        <div class="ground"><div class="round"></div></div>
    </div>

    <div class="page5 afterPage">
        
    </div>


    <div id="rains">
        <span class="rain r1">|</span><span class="rain r2">|</span><span class="rain r3">|</span><span class="rain r4">|</span><span class="rain r5">|</span><span class="rain r6">|</span><span class="rain r7">|</span>
        <span class="rainw rw1">●</span><span class="rainw rw2">●</span><span class="rainw rw3">●</span><span class="rainw rw4">●</span><span class="rainw rw5">●</span>
    </div>
    <script>
        window.addEventListener('load',function(){
            typewriter({
            el:'#typewrite',
            string:'Kenji Iwasaki Who?',
            speed:80,
            });

        });

        const typewriter = (param)=>{
            let el = document.querySelector(param.el);
            let speed = param.speed;
            let string = param.string.split('');

            string.forEach((char, index) => { 
               setTimeout(() => {
               el.textContent += char;
             }, speed * index);
            });
        }

        
        let teach = document.getElementById('teach');
        let arrow = document.getElementById('arrow');
        let search = document.getElementById('search');
        let rain = document.getElementById('rains');
        const hiden = ()=>{
                search.classList.add('fadeOut');
                teach.classList.add('fade');
                show();
                rain.style.display = 'block';
            }

        let after = document.getElementsByClassName('afterPage');
        let page1img = document.getElementById('page1img');
        let afterLen = 0;
        const show = ()=>{
            after[afterLen].style.display = 'block';
            afterLen++;
            const timer2 = setTimeout(show,300);
            if(afterLen == after.length){
                clearTimeout(timer2);
                arrow.style.opacity = 0.8;
                page1img.classList.add('page1imgFade');
            }
        }

        let flag = false;
        const scrollEvent = ()=>{
            window.addEventListener('scroll',()=>{
                let scrollValue = window.pageYOffset;
                let scrollEle = document.getElementById('rtable');
                let scrollEle2 = document.getElementById('js');
                let scrollTop = scrollEle.getBoundingClientRect().top + scrollValue;
                let scrollTop2 = scrollEle2.getBoundingClientRect().top + scrollValue;
                let windowHeight = window.innerHeight;
                if(scrollValue > scrollTop - windowHeight + 150){
                    if(!flag){
                    flag = true;
                    slideShow();
                    }
                }
                    
            });
        }

        let works = document.getElementsByClassName('works');
        let worksLen = 0;
        const slideShow = ()=>{
            works[worksLen].classList.add('slideShow');
            worksLen++;
            const timer3 = setTimeout(slideShow,300);
            if(worksLen === works.length){
                clearTimeout(timer3);
            }
        }

        scrollEvent();

        $(()=>{
            let scrollFlag = false;
            
            $(window).on('scroll',function(){
                let scrollValue = window.pageYOffset;
                let scrollEle2 = document.getElementById('js');
                let scrollTop2 = scrollEle2.getBoundingClientRect().top + scrollValue;
                let windowHeight = window.innerHeight;
                if(scrollValue > scrollTop2 - windowHeight + 150){
                    if(!scrollFlag){
                        scrollFlag = true;
                        jsSlide();
                    }

                }
            });

            //プログラミング言語のアニメーション
            let i = 9;
            const jsSlide = ()=>{
                $('.js').find('span').eq(i).addClass('jsSkill');
                i--;
                const timerJs = setTimeout(jsSlide,100);
                if(i === -1){
                    clearTimeout(timerJs);
                    $('#jquery').delay(200).slideDown(500).delay(800).queue(function(){
                        $('#exMark').hide();
                        $(this).addClass('jqslide').delay(4400).queue(function(){
                            $('#wave1').addClass('wave');
                            $('#wave2').addClass('wave');
                            $('#nodeSpan').addClass('spanFade');
                            $('#phpSpan').addClass('spanFade').delay(3500).queue(function(){
                                $('#pull').addClass('pullAc').delay(2000).queue(function(){
                                    $('#push').addClass('pushAc').delay(2700).queue(function(){
                                        $('#git').addClass('gitAc').dequeue();
                                    }).dequeue();
                                });
                            });
                        }).dequeue();
                    });
                    $('#exMark').delay(500).show(100);
                }
            }

        });
    </script>
</body>
</html>