<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/top.css">
    <title>TOP</title>
</head>
<body>
    <div class="page1">
        a
    </div>

    <div class="page2">
        a
    </div>

    <div class="page3">
        a
    </div>

    <div class="page4">
        a
    </div>

    <div class="page5">
        a   
    </div>
    
</body>
</html>