<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/top.css">
    <title>TOP</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="js/luxy.min.js"></script>
    <link rel="font" href="AmaticSC-Regular.ttf">
    <link href="https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Rubik:wght@300&family=Zen+Kurenaido&display=swap" rel="stylesheet">
</head>

<body>
    <div class="page0" id="page0">
        <div id="page0Click" class="shake">
            <p id="click">CLICK</p>
            <p id="down">↓</p>
        </div>
        <img src="/images/light.png" alt="懐中電灯" id="flashlight">
        <p id="skipP">SKIP</p>
    </div>
    <div class="page1" id="page1">
        <div id="light">
        </div>
        <div id="beam"></div>
        <i class="fas fa-bolt" id="bolt"></i>
        <div id="powerWrap">
            <span class="fas fa-power-off" id="power"></span>
            <div id="backPower"></div>
        </div>
    </div>

    <div class="afterPage" id="luxy">
        <div class="page1H afterPage">
            <img src="images/1.jpg" alt="" id="H1Me" class="luxy-el" data-speed-y="8">
            <i class="fas fa-umbrella" id="umbrella"></i>
            <div id="HRight">
                <h1 id="welcome" class="luxy-el" data-speed-y="15" data-offset="-25"><span id="wel0">W</span><span id="wel1">E</span><span id="wel2">L</span><span
                        id="wel3">C</span><span id="wel4">O</span><span id="wel5">M</span><span id="wel6">E</span></h1>
                <div id="gear1Div" class="luxy-el" data-speed-y="8" data-offset="-50">
                    <i class="fas fa-cog" id="gear"></i>
                </div>
                <div id="gear2Div"class="luxy-el" data-speed-y="8" data-offset="-50">
                    <i class="fas fa-cog" id="gear2"></i>
                </div>
            </div>
        </div>

        <div class="page2 afterPage">
            <h1 class="luxy-el" data-speed-y="7" data-offset="0">PROFILE</h1>
            <div id="page2Main" class="luxy-el" data-speed-y="5" data-offset="0">
                <img src="" alt="one more photo" id="page2Img">
                <div id="page2Text">
                    <p>name : Kenji Iwasaki</p>
                    <p>Live : Osaka</p>
                    <p>DOB : 1994/09/27 -</p>
                    <p id="page2Last">Program : 2021/04/20 -</p>
                    
                </div>
            </div>
        </div>
        <div class="page2H afterPage">
            <h1 id="skillh1" class="luxy-el" data-speed-y="7" data-offset="0">SKILL</h1>
            <div class="skill" id="skill">
                <div id="js" class="js"><span>J</span><span>a</span><span>v</span><span>a</span>
                    <span>S</span><span>c</span><span>r</span><span>i</span><span>p</span><span>t</span>
                </div>
                <div id="jqueryDiv"><span id="exMark">!</span><span id="jquery">jQuery</span></div>
                <div id="php"><span id="phpSpan">PHP</span>
                </div>
                <div id="gitDiv"><span id="git">Git</span> <span id="push">PUSH</span> <span id="pull">PULL</span></div>
            </div>
        </div>

        <div class="page3 afterPage">
            <h1 class="luxy-el" data-speed-y="3" data-offset="0">WORKS</h1>
            <div class="work" id="work">
                <div id="appport" class="works luxy-el" data-speed-y="0" data-speed-x="11" data-horizontal="1">
                    <h2>AppPort</h2>
                    <a href="https://appport1.herokuapp.com/">
                        <img src="/images/AppPort.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div class="page4 afterPage">
            <h1>CONTACT</h1>
            <div class="info">
                <a href="mailto:iwasaki.web7110@gmail.com"><i class="fas fa-envelope"></i></a>
                <p id="email">iwasaki.web7110@gmail.com</p>
                <a href="https://twitter.com/tunanikan"><i class="fab fa-twitter-square"></i></a>
                <p>@tunanikan</p>
            </div>
        </div>

        <div class="page5 afterPage">
            <div class="ground">
                <div class="round">
                    <span id="rainT1" class="rainT">○</span><span id="rainT2" class="rainT">○</span><span id="rainT3"
                        class="rainT">○</span><span id="rainT4" class="rainT">○</span><span id="rainT5"
                        class="rainT">○</span><span id="rainT6" class="rainT">○</span>
                </div>
            </div>
        </div>
    </div>


    <div id="rains">
        <span class="rain r1">|</span><span class="rain r2">|</span><span class="rain r3">|</span><span
            class="rain r4">|</span><span class="rain r5">|</span><span class="rain r6">|</span><span
            class="rain r7">|</span>
        <span class="rainw rw1">●</span><span class="rainw rw2">●</span><span class="rainw rw3">●</span><span
            class="rainw rw4">●</span><span class="rainw rw5">●</span>
    </div>
    <script>
        if(navigator.userAgent.indexOf('iPhone') > 0 || navigator.userAgent.indexOf('Android') > 0 || navigator.userAgent.indexOf('Mobile') > 0 || navigator.userAgent.indexOf('iPad')){
        }else{
            luxy.init();
        }
    </script>
    <script>
        let randomDiv = function () {
            let power = document.getElementById('powerWrap');
            p1 = document.getElementById('page0');
            p1hi = document.getElementById('page1').clientHeight - 200;
            p1wh = document.getElementById('page1').clientWidth - 200;
            let rWidth = getRandomInt(p1wh);
            let rHeight = getRandomInt(p1hi);
            power.style.top = rHeight + 'px';
            power.style.left = rWidth + 'px';
        }

        function getRandomInt($max) {
            return Math.floor(Math.random() * $max);
        }

        let center = document.body.clientWidth / 2;
        let light = document.getElementById('light');
        let beam = document.getElementById('beam');
        let or = document.getElementById('or');
        let rotateI = 0;
        let page1 = document.getElementById('page1');
        window.page1 = function () {
            randomDiv();
            page1.addEventListener('mousemove', function (e) {
                let mX = e.clientX;
                let mY = e.clientY;
                light.style.top = mY - 75 + 'px';
                light.style.left = mX - 75 + 'px';
                beam.style.top = mY + 0 + 'px';
                beam.style.left = mX - 75 + 'px';
                if (center < mX) {
                    beam.classList.remove('beamLeft');
                    beam.classList.add('beamRight');
                } else {
                    beam.classList.remove('beamRight');
                    beam.classList.add('beamLeft');
                }
            });
        }

        let flag = false;
        const scrollEvent = () => {
            window.addEventListener('scroll', () => {
                let scrollValue = window.pageYOffset;
                let scrollEle = document.getElementById('work');
                let scrollTop = scrollEle.getBoundingClientRect().top + scrollValue;
                let windowHeight = window.innerHeight;
                if (scrollValue > scrollTop - windowHeight + 150) {
                    if (!flag) {
                        flag = true;
                        slideShow();
                    }
                }

            });
        }

        let works = document.getElementsByClassName('works');
        let worksLen = 0;
        const slideShow = () => {
            works[worksLen].classList.add('slideShow');
            worksLen++;
            const timer3 = setTimeout(slideShow, 300);
            if (worksLen >= works.length) {
                clearTimeout(timer3);
            }
        }

        scrollEvent();

        $(() => {
            let scrollFlag = false;

            $(window).on('scroll', function () {
                let scrollValue = window.pageYOffset;
                let scrollEle2 = document.getElementById('js');
                let scrollTop2 = scrollEle2.getBoundingClientRect().top + scrollValue;
                let windowHeight = window.innerHeight;
                if (scrollValue > scrollTop2 - windowHeight + 150) {
                    if (!scrollFlag) {
                        scrollFlag = true;
                        jsSlide();
                    }

                }
            });

            $(window).on('scroll', function () {
                let scrollVal = window.pageYOffset;
                let scrollEle = $('#page2Main').offset().top;
                let wHeight = $(window).height();
                if (scrollVal > scrollEle - wHeight + 150 && !($('#page2Main').hasClass('coolRotate'))) {
                    $('#page2Main').addClass('coolRotate');
                }
            });

            //プログラミング言語のアニメーション
            let i = 9;
            const jsSlide = () => {
                $('.js').find('span').eq(i).addClass('jsSkill');
                i--;
                const timerJs = setTimeout(jsSlide, 100);
                if (i === -1) {
                    clearTimeout(timerJs);
                    $('#jquery').delay(200).slideDown(500).delay(800).queue(function () {
                        $('#exMark').hide();
                        $(this).addClass('jqslide');
                    });
                    $('#exMark').delay(500).show(100);
                }
            }

            $('.page1').find('#bolt').on('click', function () {
                $('.page1').addClass('flash').delay(200).queue(function () {
                    $(this).removeClass('flash').dequeue();
                });
            });

            $(document).ready(function () {
                $('#flashlight').addClass('drop');
            });

            $('#flashlight').on('click', function () {
                $('#page0Click').fadeOut();
                lightAfterFunc();
                $('#flashlight').addClass('hand').delay(500).queue(function () {
                });
            });

            let lightAfterFunc = function () {
                $('#flashlight').on('animationend webkitAnimationEnd', function () {
                    $('.page0').hide().delay(500).queue(function () {
                        $('.page1').show(function () {
                            window.page1();
                        });
                    });
                });
            }

            $('#flashlight').on('animationend webkitAnimationEnd', function () {
                $('#page0Click').fadeIn();
            });

            window.i = 0;

            $('#powerWrap').on('mousedown touchstart', function () {
                clearInterval(window.powerMInterval);
                $('#power').addClass('changePower');
                window.powerInterval = setInterval(function (i) {
                    window.i = window.i + 2;
                    $('#backPower').css('height', window.i);
                    if (window.i >= 100) {
                        clearInterval(window.powerInterval);
                        $('#light').fadeOut();
                        $('#beam').fadeOut();
                        $(this).fadeOut(1000);
                        $('.page1').fadeOut(1000);
                        $('.afterPage').fadeIn(3000);
                        $('#rains').fadeIn(3000);
                        $('#welcome').slideDown();
                        page1HAnime();
                    }
                }, 35);
            }).on('mouseup mouseleave touchend', function (i) {
                clearInterval(window.powerInterval);
                $('#backPower').css('height', 0);
                $('#power').removeClass('changePower');
                window.powerMInterval = setInterval(function () {
                    if (window.i < 100 && window.i > 0) {
                        window.i = window.i - 2;
                        $('#backPower').css('height', window.i);
                    } else {
                        window.i = 0;
                        clearInterval(window.powerMInterval);
                    }
                }, 35);
            });

            $('#skipP').on('click', function () {
                $(this).addClass('skipA');
                $('.page0').delay(500).fadeOut(1000, function () {
                    $('.afterPage').show();
                    $('#welcome').slideDown();
                    page1HAnime();
                });
                $('#rains').fadeIn(3000);
            });

            let page1HAnime = function () {
                let i = 0;
                let $welcome = $('#welcome');
                let font = ['Gill Sans', 'cursive', 'system-ui', 'Amatic SC', 'Comic Sans MS', "Annie Use Your Telescope"];
                let welcomeA = setInterval(function () {
                    if (i >= 23) {
                        j = 7;
                    } else if (i >= 20) {
                        j = 6;
                    } else if (i >= 17) {
                        j = 5;
                    } else if (i >= 14) {
                        j = 4;
                    } else if (i >= 11) {
                        j = 3;
                    } else if (i >= 8) {
                        j = 2;
                    } else if (i >= 5) {
                        j = 1;
                    } else if (i >= 0) {
                        j = 0;
                    }
                    for (; j <= 6; j++) {
                        let randI = Math.floor(Math.random() * 7);
                        $(`#wel${j}`).css('font-family', font[randI]);
                    }
                    i++;
                    if (i >= 40) {
                        clearInterval(welcomeA);
                    }
                }, 100);
            }

            $('#umbrella').on('click', function () {
                $('#rains').slideToggle(100);
                $('.rainT').slideToggle();
                $('#umbrella').toggleClass('changeUmbrella');
            });
        });
    </script>
</body>

</html>