html,body{
    height:100%;
    margin:0;
    user-select: none;
}

*{
    box-sizing: border-box;
}

.page1{
    position:relative;
    height:100%;
    width:100%;
    background-color:azure;
}

#page1img{
    position: absolute;
    z-index:0;
    height:100%;
    width:100%;
    opacity:0;
}

.fadeOut{
    animation:fadeOut 0.5s ease 0s 1 forwards;
}

@keyframes fadeOut{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

.page1imgFade{
    animation:imgFade 2s ease 0s 1 forwards;
    -webkit-user-drag: none;
}

@keyframes imgFade{
    from{
        opacity:0;
    }
    to{
        opacity:0.8;
    }
}

.fade{
    animation:fade 1s ease 0s 1 forwards;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.none{
    opacity:0;
}

#search{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    z-index:1;
    transform: translate(-50%,-50%);
    height:50px;
    width:550px;
    border:1px solid black;
    opacity:1;
}

#search button{
    position: absolute;
    right:0;
}

#search , #search button{
    font-size:35px;
}

#search button{
    cursor: pointer;
    color:white;
    background-color:black;
    font-family: 'IBM Plex Mono', monospace;
}

#search button:hover{
    background-color: gray;
}

#typewrite{
    margin-left:10px;
    font-family: 'IBM Plex Mono', monospace;
}

#typewrite::after{
    content:'|';
    animation-name:blink;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}

@keyframes blink{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#teach{
    position: absolute;
    z-index:0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:auto;
    width:auto;
    padding:10px;
    font-size:40px;
    font-family: 'IBM Plex Mono', monospace;
    background-color:black;
    color:white;
    opacity:0;
}

.fa-chevron-down{
    display:inline-block;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    font-size:50px;
    height:50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    background-color:black;
    border-radius: 50%;
    opacity:0;
    color:white;
    animation: fadeIn 1s ease -2s infinite alternate;
    z-index:50;
}

@keyframes fadeIn {
    0% {
        bottom:20px;
    }
    100% {
        bottom:10px;
    }
}

.page2{
    position: relative;
    height:100%;
    width:100%;
    background-color:gray;
    font-family: 'IBM Plex Mono', monospace;
}

.page2 h1{
    font-size:50px;
    margin-top:0;
    text-align: center;
    color:white;
    background-color: black;
}

.icon{
    text-align: center;
}

.icon img{
    height:40%;
    width:40%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
}

.page2 .text{
    margin-top:10px;
    font-size:35px;
    font-family: 'IBM Plex Mono', monospace;
    text-align: center;
    color:white;
    letter-spacing: 1px;
    font-weight: lighter;
}

.text p{
    margin:0;
    padding:0;
}

.text s{
    font-size:19px;
    line-height:15px;
}

.text #year{
    font-size:23px;
}

.page3{
    position: relative;
    height:100%;
    width:100%;
    background-color:gray;
}

.page3 h1{
    font-size:50px;
    color:white;
    text-align: center;
    margin-top:0;
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
}

.work{
    position:absolute;
    bottom:200px;
    right:0;
    left:0;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-top:300px;
    width:1200px;
    border:1px solid black;
    z-index:1;
}

.work a{
    color:white;
    text-decoration: none;
}

#rtable{
    display:inline-block;
    height:300px;
    width:400px;
    border:1px solid black;
    text-align: center;
    transform:translate(50px,0);
    opacity:0;
}

#unknown1{
    display: inline-block;
    height:300px;
    width:400px;
    border:1px solid black;
    text-align: center;
    transform:translate(50px,0);
    opacity:0;
}

#unknown2{
    display:inline-block;
    height:300px;
    width:400px;
    border:1px solid black;
    text-align: center;
    transform:translate(50px,0);
    opacity:0;
}

.slideShow{
    animation:slideUp 1.5s ease 0.1s 1 forwards;
}

@keyframes slideUp{
    from{
        opacity:0;
        transform:translate(50px,0);
    }
    to{
        opacity:1;
        transform:translate(0,0);
    }
}

.work h2{
    margin-top:0;
    font-size:30px;
    text-align: center;
    border-bottom:1px solid black;
    font-family: 'IBM Plex Mono', monospace;
    color:white;
}

.work img{
    width:390px;
    height:230px;
    opacity:0.7;
    object-fit: cover;
}

.page4{
    position: relative;
    height:100%;
    width:100%;
    background-color: gray;
    text-align: center;
}

.page4 h1{
    font-size:50px;
    color:white;
    margin-top:0;
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
}

.page4 i{
    font-size:40px;
}

.page4 p{
    font-size:30px;
}

.info{
    display:inline-block;
    margin-top:50px;
    padding:10px;
    border:1px solid black;
    width:50%;
    user-select:text;
}

.fa-envelope{
    margin-top:50px;
}

.info a{
    color:black;
}

#name{
    margin-bottom:50px;
}

.round{
    position: absolute;
    bottom:10px;
    z-index:5;
    width:100%;
    height:150px;
    background-color:dimgray;
    border-radius: 50%;
}

.ground{
    position: absolute;
    bottom:0;
    background-color:gray;
    width:100%;
    height:150px;
    z-index:5;
}

.afterPage{
    display:none;
}

#rains{
    display:none;
}

.rain{
    position: fixed;
    color:black;
    top:0;
    opacity:0.4;
    font-weight: lighter;
    z-index:0;
}

.rainw{
    position: fixed;
    color:black;
    opacity:0;
    top:0;
    z-index:0;
}

@keyframes rainwing{
    from{
        opacity:0.2;
    }
    to{
        opacity:0;
    }
}

.r1{
    left:150px;
    font-size:30px;
    animation:raining 0.49s linear 0s infinite forwards;
    font-size:25px;
}

.r2{
    font-size:32px;
    right:50px;
    animation:raining 0.47s linear 0s infinite forwards;
}

.r3{
    left:500px;
    font-size:25px;
    animation:raining 0.42s linear 0s infinite forwards;
}

.r4{
    right:500px;
    font-size:30px;
    animation:raining 0.45s linear 0s infinite forwards;
    opacity:0.3;
}

.r5{
    right:800px;
    font-size:30px;
    animation:raining 0.38s linear 0s infinite forwards;
    opacity: 0.2;
}

.r6{
    left:300px;
    font-size:30px;
    animation:raining 0.43s linear 0s infinite forwards;
    opacity: 0.3;
}

.rw1{
    font-size:70px;
    top:500px;
    left:300px;
    animation:rainwing 5s ease 1s infinite forwards;
}

.rw2{
    font-size:90px;
    top:500px;
    right:200px;
    animation:rainwing 4.58s ease 0.8s infinite forwards;
    z-index:10;
}

.rw3{
    font-size:50px;
    top:200px;
    right:800px;
    animation:rainwing 3.58s ease 0.9s infinite forwards;
}

.rw4{
    right:160px;
    top:100px;
    font-size:30px;
    animation:rainwing 4s ease 0.7s infinite forwards;
}

.rw5{
    left:160px;
    top:100px;
    font-size:100px;
    animation:rainwing 4s ease 0.85s infinite forwards;
}

.raining{
    animation:raining 0.8s ease 0s infinite forwards;
}

@keyframes raining{
    from{
        top:0;
    }
    to{
        top:100%;
    }
}

@media(max-width:378px){

    #teach{
        text-align: center;
    }

    #search{
        height:30px;
        width:300px;
        font-size:18px;
    }

    #typewrite{
        display:inline-block;
    }

    #search button{
        height:30px;
        width:60px;
        font-size:13px;
    }

    .page1{
        position: relative;
        width:100%;
    }

    #page1img{
        width:100%;
        object-fit:cover;
    }

    .page3{
        width:100%;
    }

    .icon{
        margin-top:0;
    }

    .icon img{
        height:70%;
        width:70%;
    }

    .work{
        width:200px;
        height:200px;
    }

    .works{
        width:200px;
        height:auto;
    }

    #rtable{
        height:200px;
    }

    .works h2{
        font-size:20px;
    }

    .works img{
        height:150px;
        width:150px;
        padding:0;
    }

    #unknown1{
        display: none;
    }

    #unknown2{
        display: none;
    }

    .info{
        width:80%;
    }

    .info p{
        font-size:15px;
        text-align: center;
    }

    .round{
        height:50px;
    }

    .ground{
        height:50px;
    }

    .rainw{
        transform: scale(30%);
    }

    .r1{
        left:30px;
    }

    .r3{
        left:110px;
    }
}

@media(max-width:416px){

    #search{
        height:30px;
        width:300px;
        font-size:18px;
    }

    #search button{
        height:30px;
        width:80px;
        font-size:15px;
    }

    #page1img{
        width:100%;
        object-fit:cover;
    }

    #unknown1{
        display: none;
    }

    #unknown2{
        display: none;
    }

    .work{
        bottom:300px;
        width:200px;
        height:200px;
    }

    #rtable{
        width:200px;
        height:200px;
    }

    #rtable h2{
        margin:0;
    }

    .works img{
        height:160px;
        width:200px;
    }

    .icon img{
        height:70%;
        width:70%;
    }

    .info{
        width:80%;
    }

    .r5{
        left:20px;
    }
}

@media(max-width:480px){

    #search{
        height:30px;
        width:350px;
        font-size:20px;
    }

    #search button{
        height:30px;
        width:100px;
        font-size:18px;
    }

    #page1img{
        width:100%;
        object-fit:cover;
    }

    #unknown1{
        display: none;
    }

    #unknown2{
        display: none;
    }

    .work{
        bottom:300px;
        width:300px;
        height:200px;
    }

    #rtable{
        width:300px;
        height:200px;
    }

    #rtable h2{
        margin:0;
    }

    .works img{
        height:160px;
        width:300px;
    }

    .icon img{
        height:70%;
        width:70%;
    }

    .info{
        width:80%;
    }

}