html,body{
    height:100%;
    margin:0;
    user-select: none;
}

*{
    box-sizing: border-box;
}

.page1{
    position:relative;
    height:100%;
    width:100%;
    background-color:azure;
}

#page1img{
    position: absolute;
    z-index:0;
    height:100%;
    width:100%;
    opacity:0;
}

.fadeOut{
    animation:fadeOut 0.5s ease 0s 1 forwards;
}

@keyframes fadeOut{
    from{
        opacity:1;
    }
    to{
        opacity:0;
    }
}

.page1imgFade{
    animation:imgFade 2s ease 0s 1 forwards;
    -webkit-user-drag: none;
}

@keyframes imgFade{
    from{
        opacity:0;
    }
    to{
        opacity:0.8;
    }
}

.fade{
    animation:fade 1s ease 0s 1 forwards;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.none{
    opacity:0;
}

#search{
    display: block;
    position: absolute;
    top:50%;
    left:50%;
    z-index:1;
    transform: translate(-50%,-50%);
    height:55px;
    width:580px;
    border:1px solid black;
    opacity:1;
}

#search button{
    position: absolute;
    right:0;
}

#search , #search button{
    font-size:35px;
}

#search button{
    cursor: pointer;
    color:white;
    background-color:black;
    font-family: 'IBM Plex Mono', monospace;
}

#search button:hover{
    background-color: gray;
}

#typewrite{
    margin-left:10px;
    font-family: 'IBM Plex Mono', monospace;
}

#typewrite::after{
    content:'|';
    animation-name:blink;
    animation-duration: 1.1s;
    animation-iteration-count: infinite;
}

@keyframes blink{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#teach{
    position: absolute;
    z-index:0;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height:auto;
    width:auto;
    padding:10px;
    font-size:40px;
    font-family: 'IBM Plex Mono', monospace;
    background-color:black;
    color:white;
    opacity:0;
}

.fa-chevron-down{
    display:inline-block;
    position: absolute;
    bottom:0;
    left:0;
    right:0;
    margin:0 auto;
    font-size:50px;
    height:50px;
    width:50px;
    line-height: 50px;
    text-align: center;
    opacity:0;
    color:black;
    animation: upDown 0.7s ease 0s infinite alternate;
    z-index:50;
}

@keyframes upDown {
    0% {
        bottom:20px;
    }
    100% {
        bottom:10px;
    }
}

.page2{
    position: relative;
    height:200%;
    width:100%;
    background-color:gray;
    font-family: 'IBM Plex Mono', monospace;
}

.page2 h1{
    font-size:50px;
    margin-top:0;
    text-align: center;
    color:white;
    background-color: black;
}

.icon{
    text-align: center;
    background-image: url(/images/1.jpg);
    background-size:cover;
    width:100%;
    height:600px;
    position: relative;
    border:50px solid gray;
}

.icon img{
    height:40%;
    width:90%;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    object-fit: cover;
}

.page2 .text p{
    margin:0;
    padding:0;
    width:50%;
    background-color:black;
    font-size:35px;
    border:1px solid gray;
    text-align: center;
    color:white;
    letter-spacing: 1px;
    font-weight: lighter;
}

.text{
    display:flex;
    flex-wrap: wrap;
}

#maybe{
    font-size:35px;
    line-height:15px;
    font-family: 'Shadows Into Light', cursive;
    color:black;
    position: relative;
    top:0;
}

.text #year{
    font-size:23px;
}

#name{
    position: absolute;
    top:30px;
    left:510px;
    font-size:51px;
    color:black;
    font-family: 'Alfa Slab One', cursive;
    letter-spacing: 2px;
    font-weight:bold;
    text-shadow:3px 3px 1px gray;
}

#mobileName{
    display:none;
}

@keyframes flas-light{
    0%{opacity:1;}
    24% {opacity:1;}
    25% {opacity:0.1;}
    26% {opacity:1;}
    50%  {opacity: 1;}
    51%  {opacity: 0.1;}
    52%  {opacity: 1;}
    75% {opacity: 1;}
    76% {opacity: 0.1;}
    77% {opacity: 1;}
    78% {opacity: 0.3;}
    79% {opacity: 1;}
}

#all{
    position: absolute;
    bottom:0;
    right:200px;
    font-size:30px;
}

.page3{
    position: relative;
    height:100%;
    width:100%;
    background-color:gray;
}

#skillh2{
    font-size:50px;
    text-align: center;
    color:white;
    background-color: black;
}

.skill{
    display:flex;
    width:100%;
    flex-wrap:wrap;
    text-align: center;
    margin-top:70px;
    position: relative;
}

.skill div{
    height:60px;
    width:50%;
    border:1px solid gray;
    background-color:black;
    color:white;
    font-family: 'IBM Plex Mono', monospace;
    font-size:40px;
    margin:50px 0;
}

#js span{
    position: relative;
    right:500px;
}

.jsSkill{
    animation: jsSlide 0.2s ease 0s 1 forwards;
}

@keyframes jsSlide{
    0%{
        right:500px;
    }

    100%{
        right:0;
    }
}

#jqueryDiv{
    position: relative;
    text-align: center;
}

#jquery{
    position: absolute;
    left:0;
    right:0;
    display:none;
}

.jqslide{
    animation: jquerySlide 7s ease 0s 1 forwards;
}

@keyframes jquerySlide{
    0%{
        left:0;
        right:0;
    }

    10%{
        right:0%;
        left:60%;
    }

    20%{
        left:0%;
        right:60%;
    }

    30%{
        right:0%;
        left:60%;
    }

    50%{
        left:0%;
        right:60%;
        font-size:40px;
    }

    55%{
        font-size: 48px;
    }

    65%{
        left:0%;
        right:60%;
        font-size:40px;
    }


    80%{
        left:0;
        right:0;
    }
}

#exMark{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    bottom:55px;
    font-size: 50px;
    display: none;
    color:red;
    font-family: 'Alfa Slab One', cursive;
}

.fa-wave-square{
    color:white;
}

#node{
    position: relative;
}

#nodeSpan{
    opacity:0;
}

#wave1{
    position: absolute;
    top:-60px;
    right:0;
    left:0;
    margin: 0 auto;
    opacity:0;
}

#php{
    position: relative;
}

#phpSpan{
    opacity:0;
}

#wave2{
    position: absolute;
    top:-60px;
    right:0;
    left:0;
    margin: 0 auto;
    opacity:0;
}

.wave{
    animation:wave 1s ease 1s 3 forwards;
}

.spanFade{
    animation:fadeIn1 5s ease 1s 1 forwards;
}

@keyframes wave{
    from{
        opacity:1;
    }

    to{
        opacity:0;
    }
}

@keyframes fadeIn1{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

#gitDiv{
    position: relative;
    text-align: center;
}

#git{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    opacity:0;
}

.gitAc{
    animation:giting 1s ease 1s 1 forwards;
}

@keyframes giting{
    from{
        transform: rotate(0);
    }
    to{
        opacity:1;
        transform: rotate(360deg);
    }
}

#push{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    opacity:0;
}

.pushAc{
    animation:push 2s ease 0s 1 forwards;
}

@keyframes push{
    from{
        opacity:1;
    }
    to{
        opacity:0;
        left:50%;
    }
}

#pull{
    position: absolute;
    left:0;
    right:0;
    margin:0 auto;
    opacity:0;
}

.pullAc{
    animation:pull 2s ease 1s 1 forwards;
}

@keyframes pull{
    from{
        opacity:1;
        right:50%;
    }
    to{
        opacity:0;
        left:0;
    }
}

@keyframes rightRotate{
    from{
        opacity:1;
        transform:rotate(0);
    }
    to{
        transform:rotate(360deg);
        opacity:0;
    }
}

@keyframes leftRotate{
    from{
        transform:rotate(0);
        opacity:1;
    }
    to{
        transform:rotate(-360px) ;
        opacity:0;
    }
}

.page3 h1{
    font-size:50px;
    color:white;
    text-align: center;
    margin-top:0;
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
}

.work{
    position:absolute;
    top:200px;
    right:0;
    left:0;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    width:1180px;
    border:1px solid white;
    z-index:1;
}

.work a{
    color:white;
    text-decoration: none;
}

#rtable{
    display:inline-block;
    height:300px;
    width:400px;
    border:1px solid white;
    text-align: center;
    transform:translate(50px,0);
    opacity:0;
}

#rtablePHP{
    display: inline-block;
    height:300px;
    width:400px;
    border:1px solid white;
    text-align: center;
    transform:translate(50px,0);
    opacity:0;
}

#unknown2{
    display:inline-block;
    height:300px;
    width:400px;
    border:1px solid black;
    text-align: center;
    transform:translate(50px,0);
    opacity:0;
}

.slideShow{
    animation:slideUp 1.5s ease 0.1s 1 forwards;
}

@keyframes slideUp{
    from{
        opacity:0;
        transform:translate(50px,0);
    }
    to{
        opacity:1;
        transform:translate(0,0);
    }
}

.work h2{
    margin-top:0;
    font-size:30px;
    text-align: center;
    background-color: black;
    border:1px solid white;
    font-family: 'IBM Plex Mono', monospace;
    color:white;
    margin-bottom:0;
    letter-spacing: 2px;
}

.work img{
    width:388px;
    height:258px;
    opacity:0.7;
    object-fit: cover;
}

.works img:hover{
    opacity:0.9;
}

.page4{
    position: relative;
    height:100%;
    width:100%;
    background-color: gray;
    text-align: center;
}

.page4 h1{
    font-size:50px;
    color:white;
    margin-top:0;
    background-color: black;
    font-family: 'IBM Plex Mono', monospace;
}

.page4 i{
    font-size:40px;
}

.page4 p{
    font-size:30px;
}

.info{
    display:inline-block;
    margin-top:50px;
    padding:10px;
    border:1px solid black;
    width:50%;
    user-select:text;
}

.fa-envelope{
    margin-top:50px;
}

.fa-twitter-square:hover{
    color:white;
}

.fa-envelope:hover{
    color:white;
}

.info a{
    color:black;
}

#email{
    margin-bottom:50px;
}

.round{
    position: absolute;
    bottom:10px;
    z-index:5;
    width:100%;
    height:100px;
    background-color:dimgray;
    border-radius: 50%;
}

.ground{
    position: absolute;
    bottom:0;
    background-color:gray;
    width:100%;
    height:100px;
    z-index:5;
}

.afterPage{
    display:none;
}

#rains{
    position: fixed;
    display:none;
    height:100%;
    width:100%;
}

.rain{
    position:fixed;
    color:black;
    opacity:0.4;
    font-weight: lighter;
    z-index:0;
    height:100%;
}

.rainw{
    position: fixed;
    color:black;
    opacity:0;
    top:0;
    z-index:0;
}

@keyframes rainwing{
    from{
        margin-top:0;
        opacity:0.2;
    }
    to{
        margin-top:200px;
        font-size:0;
        opacity:0;
    }
}

.r1{
    left:150px;
    font-size:30px;
    animation:raining 0.79s linear 0s infinite forwards;
    font-size:25px;
}

.r2{
    font-size:32px;
    right:50px;
    animation:raining 0.72s linear 0s infinite forwards;
}

.r3{
    left:500px;
    font-size:25px;
    animation:raining 0.72s linear 0s infinite forwards;
}

.r4{
    right:500px;
    font-size:30px;
    animation:raining 0.75s linear 0s infinite forwards;
    opacity:0.3;
}

.r5{
    right:800px;
    font-size:30px;
    animation:raining 0.68s linear 0s infinite forwards;
    opacity: 0.2;
}

.r6{
    left:300px;
    font-size:30px;
    animation:raining 0.73s linear 0s infinite forwards;
    opacity: 0.3;
}

.r7{
    font-size:32px;
    right:200px;
    animation:raining 0.7s linear 0s infinite forwards;
}

.rw1{
    font-size:42px;
    top:500px;
    left:300px;
    animation:rainwing 5s ease 1s infinite forwards;
}

.rw2{
    font-size:40px;
    top:500px;
    right:200px;
    animation:rainwing 4.58s ease 2s infinite forwards;
    z-index:10;
}

.rw3{
    font-size:48px;
    top:200px;
    right:800px;
    animation:rainwing 3.58s ease 4s infinite forwards;
}

.rw4{
    right:160px;
    top:100px;
    font-size:40px;
    animation:rainwing 4s ease 3s infinite forwards;
}

.rw5{
    left:160px;
    top:100px;
    font-size:45px;
    animation:rainwing 4s ease 5s infinite forwards;
}

.raining{
    animation:raining 0.8s ease 0s infinite forwards;
}

@keyframes raining{
    0%{
        top:0;
    }
    100%{
        top:100%;
    }
}


@media(max-width:420px){

    #teach{
        text-align: center;
    }

    #search{
        height:30px;
        width:300px;
        font-size:18px;
    }

    #typewrite{
        display:inline-block;
    }

    #search button{
        height:30px;
        width:60px;
        font-size:13px;
    }

    .page1{
        position: relative;
        width:100%;
    }

    #page1img{
        width:100%;
        object-fit:cover;
    }

    .page3{
        width:100%;
    }

    .icon p{
        display:none;
    }

    .icon{
        border:none;
        width:100%;
        height:150px;
    }

    .icon img{
        height:70%;
        width:70%;
    }

    #mobileName{
        display:block;
        width:100%;
    }

    .page2 .text p{
        width:100%;
        font-size:20px;
    }

    .work{
        top:100px;
        width:200px;
        display:flex;
        flex-flow: column;
        height:300px !important;
    }

    .skill{
        margin-top:50px;
    }

    .skill div{
        margin-top:30px;
        height:50px;
        font-size:30px;
        width:100%;
    }

    @keyframes jquerySlide{
        0%{
            left:0;
            right:0;
        }
    
        10%{
            right:0%;
            left:60%;
        }
    
        20%{
            left:0%;
            right:60%;
        }
    
        30%{
            right:0%;
            left:60%;
        }
    
        50%{
            left:0%;
            right:60%;
            font-size:30px;
        }
    
        55%{
            font-size: 38px;
        }
    
        65%{
            left:0%;
            right:60%;
            font-size:30px;
        }
    
    
        80%{
            left:0;
            right:0;
        }
    }

    #exMark{
        font-size: 40px;
    }

    .work{
        width:200px !important;
        height:auto;
    }

    #rtable{
        height:150px !important;
        width:200px !important;
    }

    #rtablePHP{
        margin:0;
        padding:0;
        width:200px;
        height:150px;
    }

    .works h2{
        font-size:15px;
    }

    .work img{
        width:197px !important;
        height:125px !important;
        padding:0;
        margin:0;
    }

    #unknown2{
        display: none;
    }

    .info{
        width:80%;
    }

    .info p{
        font-size:15px;
        text-align: center;
    }

    .round{
        height:50px;
    }

    .ground{
        height:50px;
    }

    .rainw{
        transform: scale(30%);
    }

    .r1{
        left:30px;
    }

    .r3{
        left:110px;
    }
}

@media(max-width:416px){

    #search{
        height:30px;
        width:300px;
        font-size:18px;
    }

    #search button{
        height:30px;
        width:80px;
        font-size:15px;
    }

    #page1img{
        width:100%;
        object-fit:cover;
    }

    #unknown1{
        display: none;
    }

    #unknown2{
        display: none;
    }

    .work{
        bottom:300px;
        width:200px;
        height:200px;
    }

    #rtable{
        width:200px;
        height:200px;
    }

    #rtable h2{
        margin:0;
    }

    .works img{
        height:160px;
        width:200px;
    }

    .icon img{
        height:70%;
        width:70%;
    }

    .info{
        width:80%;
    }

    .r5{
        left:20px;
    }
}

@media(max-width:480px){

    #search{
        height:30px;
        width:350px;
        font-size:20px;
    }

    #search button{
        height:30px;
        width:100px;
        font-size:18px;
    }

    #page1img{
        width:100%;
        object-fit:cover;
    }

    #unknown1{
        display: none;
    }

    #unknown2{
        display: none;
    }

    .work{
        bottom:300px;
        width:300px;
        height:200px;
    }

    #rtable{
        width:300px;
        height:200px;
    }

    #rtable h2{
        margin:0;
    }

    .works img{
        height:160px;
        width:300px;
    }

    .icon img{
        height:70%;
        width:70%;
    }

    .info{
        width:80%;
    }

}